.row {
  display: flex;
  width: 100%;
  font-size: 62.5%;
  background: #efefef;
  color: black;
}
.calendar {
  position: relative;
  top: 20px;
  display: block;
  background: #ffffff;
  width: 300px;
  border: solid 1px #cccccc;
  margin: 10px auto;
  box-shadow: 0 0 15px 0 #c0c0c0;
  font-size: 1.3rem;
  text-align: center;

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: default;
    font-size: 1.4rem;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
    .month-display {
      align-items: center;
      height: 40px;
      background: #1eb7ee;
    }
    .month-label {
      flex: 1;
    }
    .arrow {
      text-align: center;
      flex-basis: 15%;
      font-weight: bold;
      cursor: pointer;
      transition: background 0.2s;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background: #1f5c9d;
      }
    }
  }
  .week {
    border-top: solid 1px #cccccc;
    &:first-child {
      border-top: none;
    }
  }
  .day-names {
    color: #696969;
    font-weight: bold;
    cursor: default;
    font-size: 1.1rem;
    .day {
      cursor: default;
      &:hover {
        background: inherit;
      }
    }
  }
  .day {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 35px;
    border-left: solid 1px #cccccc;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      background: #efefef;
    }
    &:first-child {
      border-left: none;
    }
    &.today {
      background: #dceaf8;
    }
    &.different-month {
      color: #c0c0c0;
    }
    &.selected {
      background: #1eb7ee;
      color: #ffffff;
    }
  }
}
